/* Create */
.dragNDrop{
    padding: 2rem;
    border: 2px dashed black;
    cursor: pointer;
}

.dragNDrop p {
    margin-bottom: 0;
}

.post-button{
    display: block;
}

.copy {
    cursor: pointer;
}


/* Index */
.card {
    width: 80%;
    max-width: 60rem;
    padding: 1rem 3rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}